# Compiled
*.class
/bin/
/out/
/build/
/target/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Maven / Gradle
.mvn/
.gradle/
